body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.top-bar,
.bottom-bar {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
}

.top-bar .back-arrow,
.top-bar .home-icon {
    font-size: 24px;
    cursor: pointer;
}

.back-arrow {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

.registration-form {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    width: 100px;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#searchInput {
    flex: 1;
    padding: 8.5px;
    position: relative;
    left: -4.5%;
    width: 84%;
    top: -30%;
}

button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 1.5%;
}


.link-principal {
    text-decoration: none;
    color: #000;
}

.registration-form {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    /* Cor do retângulo no meio */
    width: 80%;
    left: 10%;
    position: relative;
}

.titulo {
    text-align: center;
}


#product-table {
    width: 99%;
    margin-top: 20px;
    border-collapse: collapse;
    position: relative;
    left: -1%;
    top: 15%;
}

#product-table th,
#product-table td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

.logo-musica {
    width: 60px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 10px;
}

#summary-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    bottom: -30px;
    border: 2px solid #ddd;
    left: -16px;
}

#confirmar-button {
    background-color: #555;
    color: #fff;
    padding: 5px 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 70px;
    position: relative;
    top: -39%;
    left: -1%;
}

#tot-quant {
    position: relative;
    left: 1%;

}

#tot-preco {
    position: relative;
    left: 148%;

}