.titulo {
    text-align: center;
}

#search-bar {
    top: -4px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    left: 203px;
    width: 668px;
    height: 40px;
}

#search-bar input {
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-size: 14px;
}


button {
    background-color: #555;
    color: #fff;
    padding: 5px 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 310px;
    top: 2px;
}

#stock-table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    margin: auto;
    overflow-y: scroll;
}

#stock-table th,
#stock-table td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

.action-icons {
    display: flex;
    justify-content: space-around;
}

.action-icons i {
    cursor: pointer;
}

#confirm-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 50%;
    font-size: 14px;
    width: 3.8%;

}

.logo-musica {
    width: 60px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 10px;
}

.logo-principal{
    text-decoration: none;
    color: #000;
}

#caixa-nome{
    position: relative;
    top: 15px;
}

#caixa-data{
    position: relative;
    left: 275px;
    top: -12px;
}